body{
    width: 800px;
    height: 800px;
    background-color: aliceblue;
}
.h1{
    text-align: center;
    position: fixed;
    margin-top: 10px;
}
.cont1{
    width: 100px;
    height: 200px;
    background-color:#eeeeee;
}
.cont2{
    width: 500px;
    height: 300px;
    background-color:#bdbdbd;
}